@import "tailwindcss";

/* Opcional: Se quiser garantir a fonte Inter igual ao antigo, adicione isso.
   Caso contrário, ele usará a fonte padrão do sistema que fica ótima em mobile */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  /* bg-gray-50 para combinar com seu app */
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body {
    background: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}